.classpath
.DS_Store
.gimp
.gradle
.idea
.metadata
.project
.settings
.vscode
*.iml
*.ipr
*.iws
*.jks
*.launch
*.log
*.mp4
*.tmp
*.xcf
/*.txt
/1.*
/1.*/src/generated
/archive
/assets
/assets-src
/classes
/dev
/dist
/tmp
/versions
/meta
/rca
/redstone-client-adapter
bin
build
desktop.ini
eclipse
forge*changelog.txt
mcmodsrepo
out
run
signing.*
src/main/java/archive
src/main/resources/assets/minecraft
tests
Thumbs.db
